[submodule "haskell-course"]
	path = haskell-course
	url = https://github.com/input-output-hk/haskell-course
[submodule "aiken-module"]
	path = aiken-module
	url = git@github.com:iohkedu/aiken-module.git
